<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Carros</title>
</head>
<body>
<h1> Lista de Carros</h1>
<hr>

    <table>
        <thead>
            <tr>
                <th> Marca: </th>
                <th> Cor: </th>
                <th> Tipo: </th>
                <th> Valor: </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="carro:${carros}">
                <td th:text="${carro.marca}">Marca</td>
                <td th:text="${carro.cor}">Cor</td>
                <td th:text="${carro.tipo}">Tipo</td>
                <td th:text="${carro.valor}">Valor</td>
            </tr>
        </tbody>
    </table>
</body>
</html>